:root {
    --main-blue: #225578;
    --main-orange: #c14213;
    --hover-orange: #8e310e;
  
    --white: #ffffff;
  }

  body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: space-between;
  
  }

/* Basic Layout */
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  align-content: start;
  min-height: 100vh;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 9rem;

   nav.prenav {
    padding: 0px 10px ;
    display: flex;
    justify-content: space-between;
    background: #1c4656;
    font-size: smaller;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #ffffff;
      text-decoration: none;
    }

    .pre-heading {
    background: #7A232A;
    color: #FFF;
    padding: 0rem 1rem;
    align-content: center;
    }

  }

  .banner {
    padding: 2rem 10px;
    font-size: xx-large;
    font-weight: 600;
  }
}

.nav-1 {
  display: flex;
  justify-content: left;
  background: #eeecec;
  border-bottom: #c14213 0.25rem solid;
  
  a {
    padding: 0rem 1rem;
    margin: 0rem 1rem;
    color: black;
    text-decoration: none;
  

  }

  a:hover {
    background: #ccc;
  }

  
}


.footer {
  background: #225578;
  border-top: #c14213 solid 0.5rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: smaller;
  align-self: flex-end;
}

.main {
  text-align: left;
  flex: 1;
  min-height: 60vh;
}

.aside-1 {
  
}

.aside-2 {
  
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .nav     { order: 1;}
  .aside-1 { order: 2; } 
  .main    { order: 3; }
  .aside-2 { order: 4; }
  .footer  { order: 5; }
}